body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff; /* Azul muy clarito */
    color: #333;
    margin: 0;
    padding: 20px;
}

header {
    background-color: #0e7490; /* Turquesa fuerte */
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

nav {
    margin-top: 10px;
    text-align: center;
}

nav a {
    color: #0e7490;
    font-weight: bold;
    text-decoration: none;
    margin: 0 15px;
}

main {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h2 {
    color: #0e7490;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.8rem;
    color: #777;
}